includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app

    # The level 8 is the highest level
    level: 4

    ignoreErrors:
        - '#Access to an undefined property App\\Http\\Resources(.*)#'
        - '#Access to protected property App\\Entities\\Twitter(.*)#'
        - '#PHPDoc tag#'

    excludePaths:
        - ./*/*/FileToBeExcluded.php

    checkMissingIterableValueType: false
